include ../../partials/mixins

doctype html
html
  head
    +head("Ultimate Tic Tac Toe")
    link(rel='shortcut icon', href='../../assets/icons/TTT.png')
    link(rel='stylesheet', type='text/css', href='../../uikit.css')
    link(rel='stylesheet', type='text/css', href='style.css')

  body
    +container(["games", "ultimate tic tac toe"])
      p Rules and instructions can be found #[+external.uk-link(href='https://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe') here].
      p Programmed and designed as a group effort by #[+external.uk-link(href='https://gukovsky.com/') Eli Gukovsky] and myself. Rewritten by myself in 2020. Original source code #[+external.uk-link(href='https://github.com/DarkAce65/UltimateTTT') here].

      .uk-text-center
        p It is #[span#turn.red red's] turn
      .uk-overflow-auto
        table#board.uk-margin-auto: tbody
          each outerR in [0, 1, 2]
            tr
              each outerC in [0, 1, 2]
                td
                  table.subBoard(data-board-column=outerC, data-board-row=outerR): tbody
                    each r in [0, 1, 2]
                      tr
                        each c in [0, 1, 2]
                          td.cell(
                            data-board-column=outerC,
                            data-board-row=outerR,
                            data-column=c,
                            data-row=r
                          )
